<a href="https://colab.research.google.com/github/masoudndata/Data-Science-training-projects/blob/main/Environment_Temperature_change/Forecasting-Global_Temerature.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
from fbprophet import Prophet
from plotly.subplots import make_subplots

#**Load Data**

In [2]:
url = 'https://github.com/masoudndata/Data-Science-projects/blob/main/Environment_Temperature_change/Environment_Temperature_change_E_All_Data_NOFLAG.csv?raw=true'
data = pd.read_csv(url, encoding = 'unicode_escape', engine ='python')

In [3]:
data

      Area Code         Area  Months Code  ...  Y2017  Y2018  Y2019
0             2  Afghanistan         7001  ...  1.201  1.996  2.951
1             2  Afghanistan         7001  ...  1.950  1.950  1.950
2             2  Afghanistan         7002  ... -0.323  2.705  0.086
3             2  Afghanistan         7002  ...  2.597  2.597  2.597
4             2  Afghanistan         7003  ...  0.834  4.418  0.234
...         ...          ...          ...  ...    ...    ...    ...
9651       5873         OECD         7018  ...  0.247  0.247  0.247
9652       5873         OECD         7019  ...  1.194  0.581  1.233
9653       5873         OECD         7019  ...  0.378  0.378  0.378
9654       5873         OECD         7020  ...  1.349  1.088  1.297
9655       5873         OECD         7020  ...  0.260  0.260  0.260

[9656 rows x 66 columns]

#**Preprocessing**

In [4]:
def preprocess_inputs(df):
    df = df.copy()
    
    # Remove the standard deviation examples
    df = df.query("Element == 'Temperature change'")
    
    # Group countries and take their means
    df = df.groupby('Area').mean()
    
    # Use only time series data
    df = df.loc[:, 'Y1961':]
    
    # Get global mean temperature change (because of many missing values we could not forecast temperature for each country separately)
    df = pd.DataFrame(df.mean()).reset_index(drop=False)
    
    # Rename columns
    df.columns=['ds', 'y']
    
    # Fix year column
    df['ds'] = df['ds'].apply(lambda x: x[1:]).astype(np.int)
    
    return df

In [5]:
time_series = preprocess_inputs(data)
time_series

      ds         y
0   1961  0.143032
1   1962 -0.028398
2   1963 -0.026297
3   1964 -0.122865
4   1965 -0.224154
5   1966  0.095070
6   1967 -0.131975
7   1968 -0.167841
8   1969  0.105694
9   1970  0.072189
10  1971 -0.177649
11  1972 -0.049936
12  1973  0.199149
13  1974 -0.128841
14  1975 -0.030398
15  1976 -0.210907
16  1977  0.185724
17  1978  0.053986
18  1979  0.230299
19  1980  0.224411
20  1981  0.222159
21  1982  0.160740
22  1983  0.348746
23  1984  0.076055
24  1985  0.069280
25  1986  0.139045
26  1987  0.415012
27  1988  0.435257
28  1989  0.283534
29  1990  0.579354
30  1991  0.335127
31  1992  0.254460
32  1993  0.243441
33  1994  0.559852
34  1995  0.603439
35  1996  0.317843
36  1997  0.578825
37  1998  0.951884
38  1999  0.732435
39  2000  0.689658
40  2001  0.806679
41  2002  0.917838
42  2003  0.862185
43  2004  0.787869
44  2005  0.886901
45  2006  0.910877
46  2007  1.004826
47  2008  0.813313
48  2009  0.943937
49  2010  1.080097
50  2011  0.863045
51  2012  0.901637
52  2013  0.977131
53  2014  1.131417
54  2015  1.326462
55  2016  1.440185
56  2017  1.299112
57  2018  1.310459
58  2019  1.464899

#**In-smaple forecast**

In [6]:
time_train = time_series.iloc[:44, :].copy()
time_test = time_series.iloc[44:, :].copy()

In [7]:
in_model = Prophet()
in_model.fit(time_train)

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [8]:
in_forecast = in_model.predict(time_test).loc[:, ['ds', 'yhat']]
in_forecast['ds'] = in_forecast['ds'].apply(lambda x: x.year)
in_forecast

      ds      yhat
0   2005  0.811445
1   2006  0.809412
2   2007  0.796941
3   2008  0.774077
4   2009  0.901351
5   2010  0.899318
6   2011  0.886848
7   2012  0.863983
8   2013  0.991258
9   2014  0.989224
10  2015  0.976754
11  2016  0.953889
12  2017  1.081164
13  2018  1.079130
14  2019  1.066660

In [9]:
in_result_df = time_series.merge(in_forecast, on='ds', how='left')
in_result_df

      ds         y      yhat
0   1961  0.143032       NaN
1   1962 -0.028398       NaN
2   1963 -0.026297       NaN
3   1964 -0.122865       NaN
4   1965 -0.224154       NaN
5   1966  0.095070       NaN
6   1967 -0.131975       NaN
7   1968 -0.167841       NaN
8   1969  0.105694       NaN
9   1970  0.072189       NaN
10  1971 -0.177649       NaN
11  1972 -0.049936       NaN
12  1973  0.199149       NaN
13  1974 -0.128841       NaN
14  1975 -0.030398       NaN
15  1976 -0.210907       NaN
16  1977  0.185724       NaN
17  1978  0.053986       NaN
18  1979  0.230299       NaN
19  1980  0.224411       NaN
20  1981  0.222159       NaN
21  1982  0.160740       NaN
22  1983  0.348746       NaN
23  1984  0.076055       NaN
24  1985  0.069280       NaN
25  1986  0.139045       NaN
26  1987  0.415012       NaN
27  1988  0.435257       NaN
28  1989  0.283534       NaN
29  1990  0.579354       NaN
30  1991  0.335127       NaN
31  1992  0.254460       NaN
32  1993  0.243441       NaN
33  1994  0.559852       NaN
34  1995  0.603439       NaN
35  1996  0.317843       NaN
36  1997  0.578825       NaN
37  1998  0.951884       NaN
38  1999  0.732435       NaN
39  2000  0.689658       NaN
40  2001  0.806679       NaN
41  2002  0.917838       NaN
42  2003  0.862185       NaN
43  2004  0.787869       NaN
44  2005  0.886901  0.811445
45  2006  0.910877  0.809412
46  2007  1.004826  0.796941
47  2008  0.813313  0.774077
48  2009  0.943937  0.901351
49  2010  1.080097  0.899318
50  2011  0.863045  0.886848
51  2012  0.901637  0.863983
52  2013  0.977131  0.991258
53  2014  1.131417  0.989224
54  2015  1.326462  0.976754
55  2016  1.440185  0.953889
56  2017  1.299112  1.081164
57  2018  1.310459  1.079130
58  2019  1.464899  1.066660

In [10]:
subfig = make_subplots(specs=[[{"secondary_y": True}]]) 

fig = px.line(
    in_result_df,
    x='ds',
    y='y'
)
fig2 =  px.line(
    in_result_df,
    x='ds',
    y='yhat'
  ) 


subfig.add_traces(fig.data + fig2.data)
subfig.layout.xaxis.title="year"
subfig.layout.yaxis.title="Average Global Temperature Change Over Time"
subfig.for_each_trace(lambda t: t.update(line=dict(color=t.marker.color)))

subfig.show()

#**Out-of-sample forecast**

In [11]:
future_df = pd.DataFrame(np.arange(2020, 2046), columns=['ds'])
future_df

      ds
0   2020
1   2021
2   2022
3   2023
4   2024
5   2025
6   2026
7   2027
8   2028
9   2029
10  2030
11  2031
12  2032
13  2033
14  2034
15  2035
16  2036
17  2037
18  2038
19  2039
20  2040
21  2041
22  2042
23  2043
24  2044
25  2045

In [12]:
outdata_model = Prophet()
outdata_model.fit(time_series)

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [13]:
outdata_forecast = outdata_model.predict(future_df).loc[:, ['ds', 'yhat']]
outdata_forecast['ds'] = outdata_forecast['ds'].apply(lambda x: x.year)
outdata_forecast

      ds      yhat
0   2020  1.216573
1   2021  1.328136
2   2022  1.354637
3   2023  1.354043
4   2024  1.326387
5   2025  1.437950
6   2026  1.464451
7   2027  1.463857
8   2028  1.436201
9   2029  1.547764
10  2030  1.574266
11  2031  1.573671
12  2032  1.546015
13  2033  1.657578
14  2034  1.684080
15  2035  1.683485
16  2036  1.655829
17  2037  1.767392
18  2038  1.793894
19  2039  1.793300
20  2040  1.765643
21  2041  1.877206
22  2042  1.903708
23  2043  1.903114
24  2044  1.875457
25  2045  1.987020

In [15]:
subfig = make_subplots(specs=[[{"secondary_y": True}]])
outdata_result_df = pd.concat([time_series, outdata_forecast], axis=0)

fig = px.line(
    outdata_result_df,
    x='ds',
    y='y'
)
fig2 =  px.line(
    outdata_result_df,
    x='ds',
    y='yhat'
  ) 


subfig.add_traces(fig.data + fig2.data)
subfig.layout.xaxis.title="year"
subfig.layout.yaxis.title="Average Global Temperature Change Over Time"
subfig.for_each_trace(lambda t: t.update(line=dict(color=t.marker.color)))

subfig.show()